.homepage {
}

.first-page {
    background-image: url('../assets/bkgd1.png');
}

.title {
    font-family: "FatFrank_Heavy";
    letter-spacing: 2px;
    font-size: 10vh;
    color: white;
    text-align: center;
    padding-top: 20vh;
}
.second-page {
    background-image: url('../assets/bkgd2.png');
}

.third-page {
    background-image: url('../assets/bkgd3.png');
}

.fourth-page {
    background-image: url('../assets/bkgd4.png');
}

.first-page, .second-page, .third-page, .fourth-page {
    background-size: cover; 
    background-position: center;
    opacity: 0.9;
    height: 100vh;
}

.webcam {
    padding-top: 20vh;
}

