.Nav {
    position: fixed;
    background-color: rgb(246, 246, 246);
    height: 8vh;
    z-index: 1;
    opacity: 1;
    margin-top: 2vh;
    margin-left: 25vw;
    border-radius: 70px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    margin-left: 2vw;
    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}

.nav-links {
    a {
        color: rgb(0, 0, 0);;
        padding: 0 2vw;
        text-decoration: none;
    }
    a:hover {
        color: rgb(126, 126, 126);
    }
}

.login button {
    background-color: #EF466F;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    border: none;
    border-radius: 70px;
    padding: 1.5vh 1vw;
    margin-right: 2vw;
    cursor: pointer;
}

button:hover {
    background-color: #ff5890;
}