.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif; 
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@font-face {
  font-family: 'FatFrank_Heavy';
  src: url('assets/fonnts.com-FatFrank_Heavy.otf') format('opentype');
}
